/*styling starts*/
/*resetting*/


*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body {
	max-width: 1169px;
	margin: 0 auto;
}

:root {
	font-size: 14px;
}

/*logo or head or title part*/
#main-head {
	margin: 0 auto;
}

#seperator {
	width: 90%;
	margin: 0 auto;
}

#main-head .heading  {
	text-transform: uppercase;
	letter-spacing: -0.08em;
	font-family: Inconsolata;
	font-weight: bolder;
	word-spacing: 0.5rem;
	font-size: 1.5rem;
	overflow: hidden;
	padding-top: 3rem;
	padding-bottom: 10rem;
}

/*whole body excluding head*/
#container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 5%;
}

.main-img {
	max-width: 100%;

}

#right-div .sec-head, .description {
	padding-bottom: 3rem;
	font-family: Space Mono;
}

.sec-head {
	font-weight: 900;
	font-size: 3rem;
}

.description {
<<<<<<< HEAD
	font-size: 1.5rem;
=======
	width: 60%;
	font-size: 1.1rem;
	color: #4f4f4f;
	font-family: serif;
>>>>>>> 6250dc7b885fc835d512be9eb0e95f65cff0e9b6
}


/*button styling*/
#btn {
	background-color: #333;
	color: #fff;
	font-size: 0.8rem;
	font-weight: bolder;
	text-transform: uppercase;
	cursor: pointer;
	padding: 1.5rem;
}

#btn:hover {
	background-color: #ffa500;
	border: transparent;
	border-radius: 10px;
}

/*the footer part*/
footer,a, p {
	color: #bdbdbd;
	text-decoration: none;
	text-align: center;
	margin-top: 5rem;
	margin-bottom: 1rem;
	font-family: Montserrat;
	overflow: hidden;

}

@media only screen and (max-width: 800px) {
	#container {
		grid-template-columns:repeat(1, 1fr);
	}
	#main-head {
		padding-bottom: auto;
	}
	footer {
		overflow: hidden;
	}
	.sec-head {
		font-size: 3rem;
		text-align: center;
	}
	.description {
		text-align: center;
		margin-top: 0rem;
	}
}